@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
}

/* Credits font and color */
.wrapper {
  position: absolute;
  top: 100%;
  width: 100%;
  font: 300 30px/1 'Open Sans Condensed', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 255, 0);
  opacity: 1;
}

/* Header font and color */
.job {
  margin-top: 80px;
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: bold;
  color: magenta;
}

/* Each credit */
.name {
  margin-bottom: 20px;
  font-size: 35px;
}

/* Intro Image */
.introImg {
  height: 500px;
}

/* Intro Text */
.introText {
  font: 300 30px/1 'Open Sans Condensed', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  color: magenta;
}

/* Outro Image */
.outroImg {
  height: 500px;
}

/* Outro Text */
.outroText {
  font: 300 30px/1 'Open Sans Condensed', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  color: magenta;
}